/*
  Icon Font: devops-icon-font
*/

@font-face {
  font-family: "devops-icon-font";
  src: url("../fonts/devops-icon-font.eot");
  src: url("../fonts/devops-icon-font.eot?#iefix") format("embedded-opentype"),
       url("../fonts/devops-icon-font.woff") format("woff"),
       url("../fonts/devops-icon-font.ttf") format("truetype"),
       url("../fonts/devops-icon-font.svg#devops-icon-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "devops-icon-font";
    src: url("../fonts/devops-icon-font.svg#devops-icon-font") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-consul:before,
.icon-coreos:before,
.icon-docker:before,
.icon-flocker:before,
.icon-mesos:before,
.icon-puppet:before,
.icon-terraform:before {
  display: inline-block;
  font-family: "devops-icon-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-consul:before { content: "\f100"; }
.icon-coreos:before { content: "\f104"; }
.icon-docker:before { content: "\f101"; }
.icon-flocker:before { content: "\f106"; }
.icon-mesos:before { content: "\f105"; }
.icon-puppet:before { content: "\f107"; }
.icon-terraform:before { content: "\f102"; }
